body{
background-color: #faf189;
}
.navigation{
background-color: blue;
overflow: hidden;
}
.navigation a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.navigation a:hover {
background-color:yellow;
color: black;
}
.navigation a.active {
background-color: red;
color: white;
}
h1{
font-size: 75px;
background: linear-gradient(to right, red, cyan, blue, pink, orange, turquoise);
text-align: center;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.image1 {
text-align: center;
}
.image2 {
text-align: center;
}
.Starter{
background: lightcyan;
font-size: 35px
}
ul {
background-color: lightcyan;
font-size: 25px;
}
.mapinfo {
text-align: center;
font-size: 25px
}
.map {
text-align: center;
}
p{
background-color: lightcyan;
font-size: 30px
}